body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  font-style: oblique;
  box-sizing: border-box;
}
main {
  border: 2px solid aqua;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 25%;
}

.scroller,
.value-box,
.date-box,
.reset {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0px 1rem 0px;
}

.scroll {
  width: 45vh;
  align-items: center;
  justify-content: center;
}

.scroller label {
  font-style: oblique;
  font-weight: bold;
  font-size: 1.5rem;
}

button {
  background-color: aliceblue;
  text-align: center;
  justify-content: center;
  padding: 0.8rem;
}

.reset-button {
  font-size: 1.5rem;
  padding: 0.5em;
  background-color: honeydew;
  border: 2px dotted gold;
}

.reset-button:hover {
  cursor: pointer;
}
